header{
    padding: 24px;
    background-color: #e6e6e6;
}

main{
    background-image: url("/src/images/PHOTO-2023-03-30-16-22-03.jpg");

    .headline{
        max-height: 100vh;
        height: 100%;
        padding: 40vh 0;

    }
}

h1{
    text-transform: capitalize;
}

.container{
    max-width: 1023px;
    width: 100%;
}

.section{
    padding: 40vh 0;
}